
// Variables
$color-1: #0B73A3;
$color-2: #3CA7D8;
$color-3: #5DAED3;
$color-4: #84C8E8;
$color-5: #B5E7FF;

// General rules
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    font-family: 'Montserrat';
}